<div class="control-section yooyoo">
  <ejs-grid #grid [showColumnMenu]="false" [allowReordering]="false" [gridLines]="line" [allowPaging]="false"
    [allowSorting]="true" [allowFiltering]="true" [allowExcelExport]="true" [allowGrouping]="false"
    [searchSettings]="searchSettings" [editSettings]="editSettings" [filterSettings]="filterOptions"
    [pageSettings]="pageSettings" [toolbar]="toolbar" [dataSource]="users" (toolbarClick)="onToolbarClick($event)"
    (actionBegin)="actionBegin($event)" (actionComplete)="actionComplete($event)" height=345>
    <e-columns>
      <e-column field="name" [isPrimaryKey]="true" headerText="TOPICS" textAlign="left" width="150"></e-column>
      <e-column field="subjects.name" headerText="SUBJECT" textAlign="left" width="150"></e-column>
      <e-column field="categoryName" headerText="CATAGORY" textAlign="left" width="150"></e-column>
      <e-column field="videoLink" headerText="VIDEO LINK" textAlign="left" width="150"></e-column>
      <e-column headerText="VIEW" textAlign="left" width="200">
        <ng-template #template let-data>
          <!-- <button type="button" class="btn btn-googleplus waves-effect waves-light" (click)="openWorksheet(data.worksheetLink)">
            <i class="far fa-file-pdf m-r-5"></i>
          </button> -->
          <button type="button" class="btn btn-instagram waves-effect waves-light"
            (click)="onOpenDialog(data.videoLink)">
            <i class="fas fa-video m-r-5"></i>
          </button>
        </ng-template>
      </e-column>
    </e-columns>
    <ng-template #editSettingsTemplate let-data class="topic-dialog">
      <div ngForm #curriculumForm="ngForm" class="topic-dialog">
        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="curriculumData.name" required name="name" type="text" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="name">Topic Name</label>
            </div>
          </div>
          <div class="form-group col-md-12 clearfix">
            <ejs-dropdownlist #subjectName [dataSource]="subjects" [(ngModel)]="curriculumData.subjects.name"
              [fields]="{ text: 'name', value: 'name' }" placeholder="Subject" floatLabelType="Always"
              name="subjectName" required></ejs-dropdownlist>
          </div>
          <div class="form-group col-md-12">
            <ejs-multiselect #categoryName [dataSource]="categories" [(ngModel)]="curriculumData.categoryName"
              [fields]="{ text: 'name', value: 'name' }" placeholder="Categorie" floatLabelType="Always"
              name="categoryName" required></ejs-multiselect>
          </div>
          <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="curriculumData.videoLink" required name="videoLink"
                type="text" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="videoLink">Video Link</label>
            </div>
          </div>
          <!-- <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="curriculumData.worksheetLink" required name="worksheetLink"
                type="text" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="worksheetLink">Worksheet Link</label>
            </div>
          </div>
          <div class="form-group col-md-12" *ngIf="!data.isAdd">
            <label class="" for="">Worksheet Media File</label>
            <input type="file" id="fileupload" name="fileupload" (change)="onFileChange($event, curriculumData.id)"
              placeholder="Upload file" accept=".mp3,.png,.jpg, .gif, .wav" multiple />
            <span class="e-error" *ngIf="errorMsg != ''">{{ errorMsg }}</span>
            <span class="e-success" *ngIf="successMsg != ''">{{
              successMsg
            }}</span>
          </div> -->
        </div>
        <div class="col-md-12">
          <div class="e-control-wrapper pull-right">
            <button type="submit" [disabled]="curriculumForm.invalid" class="e-control e-btn e-primary e-flat"
              (click)="onSubmit()"> Save </button>
            <button type="button" class="e-control e-btn e-flat" (click)="cancel()"> Cancel </button>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
  <ejs-dialog id="dialog" isModal="true" #Dialog (close)="dialogClose()" [visible]="false" showOnInit="false"
    showCloseIcon="false" [content]="dialogContent">
  </ejs-dialog>
</div>