<!-- Bootstrap-select -->
<!-- user row-->
<div class="row">
  <div class="col-md-1 col-xs-12"> </div> <!-- end col -->
  <div class="col-md-10 col-xs-12">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="page-title-box">
          <h2 class="page-title">RAISE A TICKET</h2>
        </div>
      </div>
      <div class="col-md-6 col-xs-12"> </div>
    </div>
    <div class="card-box">
      <div class="row">
        <div class="col-md-12">
          <form class="demo-box">
            <div class="row">
              <div class="col-md-12">
                <p class="text-muted m-b-15 m-t-30 font-13"> Subject: </p> <input type="text" class="form-control"
                  value="">
              </div>
            </div>
            <div style="margin-top:30px;">
              <p class="text-muted m-b-15 m-t-30 font-13"> Message: </p> <textarea class="form-control" rows="7" style="border: 1px solid #ccc;"></textarea>
              <div class="form-group text-right m-b-0" style="text-align:center;width:40%;margin-left:30%;"> <button
                  type="reset" class="btn btn-pink waves-effect w-md waves-light m-b-5"> Reset </button> <button type="submit"
                  class="btn btn-purple waves-effect w-md waves-light m-b-5"> Send </button> </div>
            </div>
          </form>
        </div>
      </div> <!-- end row -->
    </div> <!-- end card -->
  </div> <!-- end col -->
  <div class="col-md-1 col-xs-12"> </div>
</div>
