<div class="control-section">
  <ejs-grid #grid [showColumnMenu]='true' [allowReordering]='true' [gridLines]='line' [allowPaging]='true'
    [allowSorting]='true' [allowFiltering]='true' [allowPdfExport]='true' [allowExcelExport]='true' [allowGrouping]='false'
    [groupSettings]='groupOptions' [searchSettings]='searchSettings' [editSettings]='editSettings' [filterSettings]='filterOptions'
    [pageSettings]='pageSettings' [toolbar]='toolbar' [dataSource]='users' (rowSelected)='onRowSelected($event)'
    (toolbarClick)='onToolbarClick($event)' (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'>
    <e-columns>
      <e-column field='student_name' headerText='Student Name' [isPrimaryKey]='true' textAlign='left' width=200></e-column>
      <e-column field='class' headerText='Class' textAlign='left' width=150></e-column>
      <e-column field='father_name' headerText="Father's Name" textAlign='left' width=200></e-column>
      <e-column field='mother_name' headerText="Mother's Name" textAlign='left' width=200></e-column>
      <e-column field='primary_mobile' headerText='Primary Mobile' textAlign='left' width=200></e-column>
      <e-column field='alternate_mobile' headerText='Alternate Mobile' textAlign='left' width=200></e-column>
      <e-column field='primary_email' headerText='Primary Email' textAlign='left' width=200></e-column>
      <e-column field='alternate_email' headerText='Alternate Email' textAlign='left' width=200></e-column>
    </e-columns>
    <ng-template #editSettingsTemplate let-data>
      <div ngForm #userForm="ngForm">
        <div class="form-row">
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.student_name" #studentName required
                name='student_name' id="student_name" type="text" (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="student_name">Student Name</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.dob" #dob
                name='dob' id="dob" type="date" (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="dob">Date of Birth</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.photo" #photo
                name='photo' id="photo" type="file" (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="photo">Photo</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.gender" #class
                name='gender' id="gender" type="text" (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="class">Gender</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.class" #class
                name='class' id="class" type="text" (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="class">Class</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.father_name" #fatherName
                name='father_name' id="father_name" type="text" (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="father_name">Father's Name</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.mother_name" #motherName
                name='mother_name' id="mother_name" type="text" (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="mother_name">Mother's Name</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.father_profession" #fatherProfession
             name='father_profession' id="father_profession" type="text"
                (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="father_profession">Father's Profession</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.mother_profession" #motherProfession
             name='mother_profession' id="mother_profession" type="text"
                (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="mother_profession">Mother's Profession</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.primary_email" #primaryEmail
             name='primary_email' id="primary_email" type="email" (focus)="focusIn($event.target)"
                (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="primary_email">Primary Email</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.alternate_email" #alternateEmail
             name='alternate_email' id="alternate_email" type="email"
                (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="alternate_email">Alternate Email</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.primary_mobile" #primaryMobile
             name='primary_mobile' id="primary_mobile" minlength="10" maxlength="10" type="number" (focus)="focusIn($event.target)"
                (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="primary_mobile">Primary Mobile</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.alternate_mobile" #alternateMobile
             name='alternate_mobile' id="alternate_mobile" type="number"  minlength="10" maxlength="10"
                (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="alternate_mobile">Alternate Mobile</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.address" #address
                name='address' id="address" type="text" (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="address">Adress</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.city" #city
                name='city' id="city" type="text" (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="city">City</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.state" #state
                name='state' id="state" type="text" (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="state">State</label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
              <input class="e-input e-field" [(ngModel)]="userData.pin_code" #pinCode
                name='pin_code' id="pin_code" type="number"  minlength="5" maxlength="6" (focus)="focusIn($event.target)" (blur)="focusOut($event.target)" />
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="pin_code">Pin Code</label>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</div>
