<!-- end page title end breadcrumb -->
<div class="row dasshboard">
  <div class="col-lg-2 col-md-4 col-sm-6" >
    <div class="card-box widget-box-one"
      style="border:1px solid rgb(235, 236, 236) !important; cursor: pointer; width: 200px;" [routerLink]="['/users']"
      routerLinkActive="router-link-active">
      <i class="mdi mdi-chart-areaspline widget-one-icon"></i>
      <div class="wigdet-one-content">
        <h4> User <small><i class="fas fa-users text-success"></i></small>
        </h4>
      </div>
    </div>
  </div>
  <!-- end col -->
  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card-box widget-box-one"
      style="border:1px solid rgb(235, 236, 236) !important; cursor: pointer; width: 200px;"
      [routerLink]="['/assignment']" routerLinkActive="router-link-active">
      <i class="mdi mdi-account-convert widget-one-icon"></i>
      <div class="wigdet-one-content">
        <h4> Assignment <small><i class="fas fa-tasks text-danger"></i></small>
        </h4>
      </div>
    </div>
    <b> </b>
  </div>
  <!-- end col
  -->
  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card-box widget-box-one"
      style="border:1px solid rgb(235, 236, 236) !important; cursor: pointer; width: 200px;" [routerLink]="['/reports']"
      routerLinkActive="router-link-active">
      <i class="mdi mdi-layers widget-one-icon"></i>
      <div class="wigdet-one-content">
        <h4> Reports <small><i class="mdi mdi-comment-text text-success"></i></small>
        </h4>
      </div>
    </div>
  </div>
  <!-- end col -->
  <div class="col-lg-2 col-md-4 col-sm-6" *ngIf="urole == 'SCHOOLOWNER' || urole == 'TEACHER'">
    <div class="card-box widget-box-one"
      style="border:1px solid rgb(235, 236, 236) !important; cursor: pointer; width: 200px;"
      [routerLink]="['/attendance']" routerLinkActive="router-link-active">
      <i class="mdi mdi-av-timer widget-one-icon"></i>
      <div class="wigdet-one-content">
        <h4> Attendance <small><i class="mdi mdi-book-multiple text-danger"></i></small>
        </h4>
      </div>
      <b> </b>
    </div>
    <b> </b>
  </div>
  <!-- end col
    --><b></b>
  <div class="col-lg-2 col-md-4 col-sm-6" *ngIf="urole == 'SCHOOLOWNER' || urole == 'SUPERADMIN'">
    <div class="card-box widget-box-one"
      style="border:1px solid rgb(235, 236, 236) !important; cursor: pointer; width: 200px;" [routerLink]="['/fees']"
      routerLinkActive="router-link-active">
      <i class="mdi mdi-account-multiple widget-one-icon"></i>
      <div class="wigdet-one-content">
        <h4> Fees <small><i class="fas fa-money-bill text-success"></i></small>
        </h4>
      </div>
      <b> </b>
    </div>
    <b> </b>
  </div>
  <!-- end col
      -->
  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card-box widget-box-one"
      style="border:1px solid rgb(235, 236, 236) !important; cursor: pointer; width: 200px;"
      [routerLink]="['/notifications']" routerLinkActive="router-link-active">
      <i class="mdi mdi-download widget-one-icon"></i>
      <div class="wigdet-one-content">
        <h4> Notice Board <small><i class="fas fa-bell text-danger"></i></small>
        </h4>
      </div>
    </div>
  </div>
  <!-- end col
        -->
</div>
<b><b><b>
      <!-- end row -->
      <div class="">
        <div class="col-md-12">
          <div class="card-box">
            <!-- USED GOOGLE CHART -->
            <div class="">
              <div class="col-md-4">
                <div class="demo-box">
                  <h4 class="header-title m-t-0">Video</h4>
                  <p>A stacked bar chart is a bar chart</p>
                  <div class="google-chart text-center">
                    <div class="chart" id="pie-chart">
                      <div style="position: relative;">
                        <div dir="ltr" style="position: relative; width: 300px; height: 200px;">
                          <div aria-label="A chart."
                            style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;">
                            <svg width="300" height="200" aria-label="A chart." style="overflow: hidden;">
                              <defs id="defs"></defs>
                              <rect x="0" y="0" width="300" height="200" stroke="none" stroke-width="0" fill="#ffffff">
                              </rect>
                              <g>
                                <rect x="226" y="10" width="74" height="76" stroke="none" stroke-width="0"
                                  fill-opacity="0" fill="#ffffff"></rect>
                                <g>
                                  <rect x="226" y="10" width="74" height="13" stroke="none" stroke-width="0"
                                    fill-opacity="0" fill="#ffffff"></rect>
                                  <g>
                                    <text text-anchor="start" x="244" y="21.05" font-family="Hind Madurai"
                                      font-size="13" stroke="none" stroke-width="0" fill="#222222"> English </text>
                                  </g>
                                  <circle cx="232.5" cy="16.5" r="6.5" stroke="none" stroke-width="0" fill="#188ae2">
                                  </circle>
                                </g>
                                <g>
                                  <rect x="226" y="31" width="74" height="13" stroke="none" stroke-width="0"
                                    fill-opacity="0" fill="#ffffff"></rect>
                                  <g>
                                    <text text-anchor="start" x="244" y="42.05" font-family="Hind Madurai"
                                      font-size="13" stroke="none" stroke-width="0" fill="#222222"> Mathm… </text>
                                    <rect x="244" y="31" width="56" height="13" stroke="none" stroke-width="0"
                                      fill-opacity="0" fill="#ffffff"></rect>
                                  </g>
                                  <circle cx="232.5" cy="37.5" r="6.5" stroke="none" stroke-width="0" fill="#4bd396">
                                  </circle>
                                </g>
                                <g>
                                  <rect x="226" y="52" width="74" height="13" stroke="none" stroke-width="0"
                                    fill-opacity="0" fill="#ffffff"></rect>
                                  <g>
                                    <text text-anchor="start" x="244" y="63.05" font-family="Hind Madurai"
                                      font-size="13" stroke="none" stroke-width="0" fill="#222222"> Science </text>
                                  </g>
                                  <circle cx="232.5" cy="58.5" r="6.5" stroke="none" stroke-width="0" fill="#f9c851">
                                  </circle>
                                </g>
                                <g>
                                  <rect x="226" y="73" width="74" height="13" stroke="none" stroke-width="0"
                                    fill-opacity="0" fill="#ffffff"></rect>
                                  <g>
                                    <text text-anchor="start" x="244" y="84.05" font-family="Hind Madurai"
                                      font-size="13" stroke="none" stroke-width="0" fill="#222222"> G.k </text>
                                  </g>
                                  <circle cx="232.5" cy="79.5" r="6.5" stroke="none" stroke-width="0" fill="#f5707a">
                                  </circle>
                                </g>
                              </g>
                              <g>
                                <path
                                  d="M128,100L64.63024232618844,56.259014501701046A77,77,0,0,1,128,23L128,100A0,0,0,0,0,128,100"
                                  stroke="#ffffff" stroke-width="1" fill="#f5707a"></path>
                                <text text-anchor="start" x="88.4875862679766" y="60.70350894978472"
                                  font-family="Hind Madurai" font-size="13" stroke="none" stroke-width="0"
                                  fill="#ffffff"> 15.4% </text>
                              </g>
                              <g>
                                <path
                                  d="M128,100L56.00374931322307,127.30457630227527A77,77,0,0,1,64.63024232618844,56.259014501701046L128,100A0,0,0,0,0,128,100"
                                  stroke="#ffffff" stroke-width="1" fill="#f9c851"></path>
                                <text text-anchor="start" x="65.15939611051155" y="98.92323197202114"
                                  font-family="Hind Madurai" font-size="13" stroke="none" stroke-width="0"
                                  fill="#ffffff"> 15.4% </text>
                              </g>
                              <g>
                                <path
                                  d="M128,100L109.57269384985806,174.762519941806A77,77,0,0,1,56.00374931322307,127.30457630227527L128,100A0,0,0,0,0,128,100"
                                  stroke="#ffffff" stroke-width="1" fill="#4bd396"></path>
                                <text text-anchor="start" x="79.87825404390148" y="140.24357256901476"
                                  font-family="Hind Madurai" font-size="13" stroke="none" stroke-width="0"
                                  fill="#ffffff"> 15.4% </text>
                              </g>
                              <g>
                                <path
                                  d="M128,100L128,23A77,77,0,1,1,109.57269384985806,174.762519941806L128,100A0,0,0,1,0,128,100"
                                  stroke="#ffffff" stroke-width="1" fill="#188ae2"></path>
                                <text text-anchor="start" x="155.86338553168463" y="110.05811223693313"
                                  font-family="Hind Madurai" font-size="13" stroke="none" stroke-width="0"
                                  fill="#ffffff"> 53.8% </text>
                              </g>
                              <g></g>
                            </svg>
                            <div aria-label="A tabular representation of the data in the chart."
                              style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Task</th>
                                    <th>Hours per Day</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>English</td>
                                    <td>7</td>
                                  </tr>
                                  <tr>
                                    <td>Mathmetics</td>
                                    <td>2</td>
                                  </tr>
                                  <tr>
                                    <td>Science</td>
                                    <td>2</td>
                                  </tr>
                                  <tr>
                                    <td>G.k</td>
                                    <td>2</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div aria-hidden="true"
                          style="display: none; position: absolute; top: 210px; left: 310px; white-space: nowrap; font-family: &quot;Hind Madurai&quot;; font-size: 13px;">
                          G.k </div>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="demo-box">
                  <h4 class="header-title m-t-0">Worksheet</h4>
                  <p>A stacked bar chart is a bar chart</p>
                  <div class="google-chart text-center">
                    <div class="chart" id="donut-chart">
                      <div style="position: relative;">
                        <div dir="ltr" style="position: relative; width: 300px; height: 200px;">
                          <div aria-label="A chart."
                            style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;">
                            <svg width="300" height="200" aria-label="A chart." style="overflow: hidden;">
                              <defs id="defs"></defs>
                              <rect x="0" y="0" width="300" height="200" stroke="none" stroke-width="0" fill="#ffffff">
                              </rect>
                              <g>
                                <rect x="226" y="10" width="74" height="76" stroke="none" stroke-width="0"
                                  fill-opacity="0" fill="#ffffff"></rect>
                                <g>
                                  <rect x="226" y="10" width="74" height="13" stroke="none" stroke-width="0"
                                    fill-opacity="0" fill="#ffffff"></rect>
                                  <g>
                                    <text text-anchor="start" x="244" y="21.05" font-family="Hind Madurai"
                                      font-size="13" stroke="none" stroke-width="0" fill="#222222"> English </text>
                                  </g>
                                  <circle cx="232.5" cy="16.5" r="6.5" stroke="none" stroke-width="0" fill="#188ae2">
                                  </circle>
                                </g>
                                <g>
                                  <rect x="226" y="31" width="74" height="13" stroke="none" stroke-width="0"
                                    fill-opacity="0" fill="#ffffff"></rect>
                                  <g>
                                    <text text-anchor="start" x="244" y="42.05" font-family="Hind Madurai"
                                      font-size="13" stroke="none" stroke-width="0" fill="#222222"> Mathm… </text>
                                    <rect x="244" y="31" width="56" height="13" stroke="none" stroke-width="0"
                                      fill-opacity="0" fill="#ffffff"></rect>
                                  </g>
                                  <circle cx="232.5" cy="37.5" r="6.5" stroke="none" stroke-width="0" fill="#4bd396">
                                  </circle>
                                </g>
                                <g>
                                  <rect x="226" y="52" width="74" height="13" stroke="none" stroke-width="0"
                                    fill-opacity="0" fill="#ffffff"></rect>
                                  <g>
                                    <text text-anchor="start" x="244" y="63.05" font-family="Hind Madurai"
                                      font-size="13" stroke="none" stroke-width="0" fill="#222222"> Science </text>
                                  </g>
                                  <circle cx="232.5" cy="58.5" r="6.5" stroke="none" stroke-width="0" fill="#f9c851">
                                  </circle>
                                </g>
                                <g>
                                  <rect x="226" y="73" width="74" height="13" stroke="none" stroke-width="0"
                                    fill-opacity="0" fill="#ffffff"></rect>
                                  <g>
                                    <text text-anchor="start" x="244" y="84.05" font-family="Hind Madurai"
                                      font-size="13" stroke="none" stroke-width="0" fill="#222222"> G.k </text>
                                  </g>
                                  <circle cx="232.5" cy="79.5" r="6.5" stroke="none" stroke-width="0" fill="#f5707a">
                                  </circle>
                                </g>
                              </g>
                              <g>
                                <path
                                  d="M93.14663327940363,75.94245797593558L64.63024232618844,56.259014501701046A77,77,0,0,1,128,23L127.99999999999999,57.65A42.35,42.35,0,0,0,93.14663327940363,75.94245797593558"
                                  stroke="#ffffff" stroke-width="1" fill="#f5707a"></path>
                                <text text-anchor="start" x="88.4875862679766" y="60.70350894978472"
                                  font-family="Hind Madurai" font-size="13" stroke="none" stroke-width="0"
                                  fill="#ffffff"> 15.4% </text>
                              </g>
                              <g>
                                <path
                                  d="M88.40206212227268,115.01751696625139L56.00374931322307,127.30457630227527A77,77,0,0,1,64.63024232618844,56.259014501701046L93.14663327940363,75.94245797593558A42.35,42.35,0,0,0,88.40206212227268,115.01751696625139"
                                  stroke="#ffffff" stroke-width="1" fill="#f9c851"></path>
                                <text text-anchor="start" x="65.15939611051155" y="98.92323197202114"
                                  font-family="Hind Madurai" font-size="13" stroke="none" stroke-width="0"
                                  fill="#ffffff"> 15.4% </text>
                              </g>
                              <g>
                                <path
                                  d="M117.86498161742193,141.1193859679933L109.57269384985806,174.762519941806A77,77,0,0,1,56.00374931322307,127.30457630227527L88.40206212227268,115.01751696625139A42.35,42.35,0,0,0,117.86498161742193,141.1193859679933"
                                  stroke="#ffffff" stroke-width="1" fill="#4bd396"></path>
                                <text text-anchor="start" x="79.87825404390148" y="140.24357256901476"
                                  font-family="Hind Madurai" font-size="13" stroke="none" stroke-width="0"
                                  fill="#ffffff"> 15.4% </text>
                              </g>
                              <g>
                                <path
                                  d="M128,57.65L128,23A77,77,0,1,1,109.57269384985806,174.762519941806L117.86498161742193,141.1193859679933A42.35,42.35,0,1,0,128,57.65"
                                  stroke="#ffffff" stroke-width="1" fill="#188ae2"></path>
                                <text text-anchor="start" x="155.86338553168463" y="110.05811223693313"
                                  font-family="Hind Madurai" font-size="13" stroke="none" stroke-width="0"
                                  fill="#ffffff"> 53.8% </text>
                              </g>
                              <g></g>
                            </svg>
                            <div aria-label="A tabular representation of the data in the chart."
                              style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Task</th>
                                    <th>Hours per Day</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>English</td>
                                    <td>7</td>
                                  </tr>
                                  <tr>
                                    <td>Mathmetics</td>
                                    <td>2</td>
                                  </tr>
                                  <tr>
                                    <td>Science</td>
                                    <td>2</td>
                                  </tr>
                                  <tr>
                                    <td>G.k</td>
                                    <td>2</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div aria-hidden="true"
                          style="display: none; position: absolute; top: 210px; left: 310px; white-space: nowrap; font-family: &quot;Hind Madurai&quot;; font-size: 13px; font-weight: bold;">
                          7 (53.8%) </div>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end row -->
              <div class="col-md-4">
                <div class="demo-box">
                  <h4 class="header-title m-t-0">Quiz</h4>
                  <p>A stacked bar chart is a bar chart</p>
                  <div class="google-chart text-center">
                    <div class="chart" id="pie-3d-chart">
                      <div style="position: relative;">
                        <div dir="ltr" style="position: relative; width: 300px; height: 200px;">
                          <div aria-label="A chart."
                            style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;">
                            <svg width="300" height="200" aria-label="A chart." style="overflow: hidden;">
                              <defs id="defs"></defs>
                              <rect x="0" y="0" width="300" height="200" stroke="none" stroke-width="0" fill="#ffffff">
                              </rect>
                              <g>
                                <rect x="226" y="10" width="74" height="76" stroke="none" stroke-width="0"
                                  fill-opacity="0" fill="#ffffff"></rect>
                                <g>
                                  <rect x="226" y="10" width="74" height="13" stroke="none" stroke-width="0"
                                    fill-opacity="0" fill="#ffffff"></rect>
                                  <g>
                                    <text text-anchor="start" x="244" y="21.05" font-family="Hind Madurai"
                                      font-size="13" stroke="none" stroke-width="0" fill="#222222"> English </text>
                                  </g>
                                  <circle cx="232.5" cy="16.5" r="6.5" stroke="none" stroke-width="0" fill="#188ae2">
                                  </circle>
                                </g>
                                <g>
                                  <rect x="226" y="31" width="74" height="13" stroke="none" stroke-width="0"
                                    fill-opacity="0" fill="#ffffff"></rect>
                                  <g>
                                    <text text-anchor="start" x="244" y="42.05" font-family="Hind Madurai"
                                      font-size="13" stroke="none" stroke-width="0" fill="#222222"> Mathm… </text>
                                    <rect x="244" y="31" width="56" height="13" stroke="none" stroke-width="0"
                                      fill-opacity="0" fill="#ffffff"></rect>
                                  </g>
                                  <circle cx="232.5" cy="37.5" r="6.5" stroke="none" stroke-width="0" fill="#4bd396">
                                  </circle>
                                </g>
                                <g>
                                  <rect x="226" y="52" width="74" height="13" stroke="none" stroke-width="0"
                                    fill-opacity="0" fill="#ffffff"></rect>
                                  <g>
                                    <text text-anchor="start" x="244" y="63.05" font-family="Hind Madurai"
                                      font-size="13" stroke="none" stroke-width="0" fill="#222222"> Science </text>
                                  </g>
                                  <circle cx="232.5" cy="58.5" r="6.5" stroke="none" stroke-width="0" fill="#f9c851">
                                  </circle>
                                </g>
                                <g>
                                  <rect x="226" y="73" width="74" height="13" stroke="none" stroke-width="0"
                                    fill-opacity="0" fill="#ffffff"></rect>
                                  <g>
                                    <text text-anchor="start" x="244" y="84.05" font-family="Hind Madurai"
                                      font-size="13" stroke="none" stroke-width="0" fill="#222222"> G.k </text>
                                  </g>
                                  <circle cx="232.5" cy="79.5" r="6.5" stroke="none" stroke-width="0" fill="#f5707a">
                                  </circle>
                                </g>
                              </g>
                              <g>
                                <path
                                  d="M128,92.3L128,107.7L64.63024232618844,72.70721160136084L64.63024232618844,57.307211601360834"
                                  stroke="#b8545c" stroke-width="1" fill="#b8545c"></path>
                                <path
                                  d="M128,92.3L64.63024232618844,57.307211601360834A77,61.6,0,0,1,128,30.699999999999996L128,92.3A0,0,0,0,0,128,92.3"
                                  stroke="#f5707a" stroke-width="1" fill="#f5707a"></path>
                                <text text-anchor="start" x="89.25670768748675" y="64.6668881660988"
                                  font-family="Hind Madurai" font-size="13" stroke="none" stroke-width="0"
                                  fill="#ffffff"> 15.4% </text>
                              </g>
                              <g>
                                <path
                                  d="M56.00374931322307,114.14366104182021L56.00374931322307,129.5436610418202A77,61.6,0,0,1,51,107.70000000000002L51,92.3A77,61.6,0,0,0,56.00374931322307,114.14366104182021"
                                  stroke="#bb963d" stroke-width="1" fill="#bb963d"></path>
                                <path
                                  d="M128,92.3L128,107.7L56.00374931322307,129.5436610418202L56.00374931322307,114.14366104182021"
                                  stroke="#bb963d" stroke-width="1" fill="#bb963d"></path>
                                <path
                                  d="M128,92.3L56.00374931322307,114.14366104182021A77,61.6,0,0,1,64.63024232618844,57.307211601360834L128,92.3A0,0,0,0,0,128,92.3"
                                  stroke="#f9c851" stroke-width="1" fill="#f9c851"></path>
                                <path
                                  d="M49.45863561442516,116.62589525111795L49.45863561442516,132.02589525111796A84,68.6,0,0,1,44,107.70000000000002L44,92.30000000000001A84,68.6,0,0,0,49.45863561442516,116.62589525111795"
                                  stroke="none" stroke-width="0" fill-opacity="0.3" fill="#bb963d"></path>
                                <path
                                  d="M55.536241191880364,114.32096348534148L49.45863561442516,116.62589525111795L49.45863561442516,132.02589525111796L55.536241191880364,129.72096348534149L55.536241191880364,114.32096348534148"
                                  stroke="none" stroke-width="0" fill-opacity="0.3" fill="#bb963d"></path>
                                <path
                                  d="M52.497438403152756,115.47342936822972A80.75,65.35,0,0,1,61.54405282908721,55.176968801119"
                                  stroke="#f9c851" stroke-width="6.5" stroke-opacity="0.3" fill-opacity="1" fill="none">
                                </path>
                                <text text-anchor="start" x="65.58050701256653" y="92.61600148304987"
                                  font-family="Hind Madurai" font-size="13" stroke="none" stroke-width="0"
                                  fill="#ffffff"> 15.4% </text>
                              </g>
                              <g>
                                <path
                                  d="M109.57269384985806,152.11001595344482L109.57269384985806,167.51001595344482A77,61.6,0,0,1,56.00374931322307,129.5436610418202L56.00374931322307,114.14366104182021A77,61.6,0,0,0,109.57269384985806,152.11001595344482"
                                  stroke="#389e71" stroke-width="1" fill="#389e71"></path>
                                <path
                                  d="M128,92.3L128,107.7L109.57269384985806,167.51001595344482L109.57269384985806,152.11001595344482"
                                  stroke="#389e71" stroke-width="1" fill="#389e71"></path>
                                <path
                                  d="M128,92.3L109.57269384985806,152.11001595344482A77,61.6,0,0,1,56.00374931322307,114.14366104182021L128,92.3A0,0,0,0,0,128,92.3"
                                  stroke="#4bd396" stroke-width="1" fill="#4bd396"></path>
                                <text text-anchor="start" x="80.79576332060039" y="123.1683570030588"
                                  font-family="Hind Madurai" font-size="13" stroke="none" stroke-width="0"
                                  fill="#ffffff"> 15.4% </text>
                              </g>
                              <g>
                                <path
                                  d="M205,92.3L205,107.7A77,61.6,0,0,1,109.57269384985806,167.5100159534448L109.57269384985806,152.11001595344482A77,61.6,0,0,0,205,92.3"
                                  stroke="#1268aa" stroke-width="1" fill="#1268aa"></path>
                                <path
                                  d="M128,92.3L128,30.699999999999996A77,61.6,0,1,1,109.57269384985806,152.11001595344482L128,92.3A0,0,0,1,0,128,92.3"
                                  stroke="#188ae2" stroke-width="1" fill="#188ae2"></path>
                                <text text-anchor="start" x="155.4461395269482" y="100.9942506377806"
                                  font-family="Hind Madurai" font-size="13" stroke="none" stroke-width="0"
                                  fill="#ffffff"> 53.8% </text>
                              </g>
                              <g>
                                <g>
                                  <path
                                    d="M31.821375163719267,72.5A1,1,0,0,1,30.821375163719267,71.5L30.821375163719267,27.5A1,1,0,0,1,31.821375163719267,26.5L98.82137516371927,26.5A1,1,0,0,1,99.82137516371927,27.5L99.82137516371927,71.5A1,1,0,0,1,98.82137516371927,72.5L77.82137516371927,72.5L52.259958469269435,85.37494049627213L64.82137516371927,72.5Z"
                                    stroke="none" stroke-width="0" fill-opacity="0.4" fill="#cccccc"
                                    transform="translate(2, 2)"></path>
                                  <path
                                    d="M31.821375163719267,72.5A1,1,0,0,1,30.821375163719267,71.5L30.821375163719267,27.5A1,1,0,0,1,31.821375163719267,26.5L98.82137516371927,26.5A1,1,0,0,1,99.82137516371927,27.5L99.82137516371927,71.5A1,1,0,0,1,98.82137516371927,72.5L77.82137516371927,72.5L52.259958469269435,85.37494049627213L64.82137516371927,72.5Z"
                                    stroke="none" stroke-width="0" fill-opacity="0.6" fill="#cccccc"
                                    transform="translate(1, 1)"></path>
                                  <path
                                    d="M31.821375163719267,72.5A1,1,0,0,1,30.821375163719267,71.5L30.821375163719267,27.5A1,1,0,0,1,31.821375163719267,26.5L98.82137516371927,26.5A1,1,0,0,1,99.82137516371927,27.5L99.82137516371927,71.5A1,1,0,0,1,98.82137516371927,72.5L77.82137516371927,72.5L52.259958469269435,85.37494049627213L64.82137516371927,72.5Z"
                                    stroke="#cccccc" stroke-width="1" fill="#ffffff" transform="translate(0, 0)"></path>
                                  <g>
                                    <text text-anchor="start" x="38" y="45.05" font-family="Hind Madurai" font-size="13"
                                      stroke="none" stroke-width="0" fill="#000000"> Science </text>
                                  </g>
                                  <g>
                                    <text text-anchor="start" x="38" y="62.05" font-family="Hind Madurai" font-size="13"
                                      font-weight="bold" stroke="none" stroke-width="0" fill="#000000"> 2 (15.4%)
                                    </text>
                                  </g>
                                </g>
                              </g>
                            </svg>
                            <div aria-label="A tabular representation of the data in the chart."
                              style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Task</th>
                                    <th>Hours per Day</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>English</td>
                                    <td>7</td>
                                  </tr>
                                  <tr>
                                    <td>Mathmetics</td>
                                    <td>2</td>
                                  </tr>
                                  <tr>
                                    <td>Science</td>
                                    <td>2</td>
                                  </tr>
                                  <tr>
                                    <td>G.k</td>
                                    <td>2</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div aria-hidden="true"
                          style="display: none; position: absolute; top: 210px; left: 310px; white-space: nowrap; font-family: &quot;Hind Madurai&quot;; font-size: 13px; font-weight: bold;">
                          2 (15.4%) </div>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END USED GOOGLE CHART -->
          </div>
          <!-- end row -->
        </div>
      </div>
    </b></b></b>