<!--<ul>
  <li routerLinkActive="active"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/users']" >Users</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/assignment']" >Assignment</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/school']" >School</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/curriculum']" >Curriculum</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/reports']" >Reports</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/notifications']" >Notifications</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/fees']" >Fees</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/raise-a-ticket']" >Raise a ticket</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/attendence']" >Attendence</a></li>
</ul>-->

<div id="navigation">
  <!-- Navigation Menu-->
  <ul class="navigation-menu">

      <li class="has-submenu">
          <a href="home.html"><i class="mdi mdi-view-dashboard"></i>Dashboard</a>

      </li>

      <li class="has-submenu">
          <a href="user.html"><i class="fas fa-users"></i>Users</a>

      </li>
      <li class="has-submenu">
          <a href="assignment.html"><i class="fas fa-tasks "></i>Assignment</a>

      </li>
<li class="has-submenu">
          <a href="school.html"><i class="fas fa-school"></i>School</a>

      </li>
<li class="has-submenu">
          <a href="curriculum.html"><i class="fas fa-podcast"></i>Curriculum</a>

      </li>
<li class="has-submenu">
          <a href="reports.html"><i class="mdi mdi-comment-text"></i>Reports</a>

      </li>





<li class="has-submenu">
          <a href="notification.html"><i class="fas fa-bell"></i>Notifications</a>


        </li>




  </ul>
  <!-- End navigation menu -->
</div> <!-- end #navigation -->
