<ul>
  <li routerLinkActive="active"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/users']" >Users</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/assignment']" >Assignment</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/school']" >School</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/curriculum']" >Curriculum</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/reports']" >Reports</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/notifications']" >Notifications</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/fees']" >Fees</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/raise-a-ticket']" >Raise a ticket</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/attendence']" >Attendence</a></li>
</ul>
