/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
  font-family: 'Varela Round', sans-serif !important;
  margin: 0;
  padding-bottom: 65px;
  overflow-x: hidden;
  color: #797979;
}
@media only screen and (min-width: 1920px) {
  .container {
    width: 1600px !important;
  }
}

/* toaster styles starts */
/* toaster styles */
.toast-top-right {
  top: 100px !important;
  right: 100px !important;
}

#toast-container>div {
  width: 400px !important;
  opacity: 0.8;
}

#toast-container>.toast-success {
  border: 3px solid #328132;
}

#toast-container>.toast-error {
  border: 3px solid #a2241e;
}

#toast-container>.toast-info {
  border: 3px solid #1d7189;
}

#toast-container>.toast-warning {
  border: 3px solid #c47505;
}

.toast-close-button {
  right: -0.1em !important;
}

/* toaster styles starts */

/* ej2 styles */
.e-popup.e-popup-open.e-control.e-dialog {
  width: 900px !important;
}

.e-control.e-grid.e-default .e-headercell,
.e-control.e-grid.e-default .e-detailheadercell {
  color: #fff;
  background-color: #188ae2;
}

.e-control.e-grid .e-columnheader th .e-headertext {
  font-family: 'Varela Round', sans-serif !important;
  font-size: 18px !important;
  font-weight: 700 !important;
}

.e-row.e-altrow {
  background-color: #f7f7f7;
}

.e-control.e-grid .e-rowcell,
.form-group input,
.e-tbar-btn-text,
.e-control,
.e-css,
.e-float-input,
.e-float-input.e-control-wrapper,
.e-float-input.e-disabled,
.e-float-input.e-control-wrapper.e-disabled,
.e-float-input.e-input-group.e-disabled,
.e-float-input.e-input-group.e-control-wrapper.e-disabled {
  font-family: 'Varela Round', sans-serif !important;
  font-size: 16px;
}

/* ej2 styles */
